.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 0 auto;

  > div,
  > input {
    position: relative;
    background: white;
    border-radius: 5px;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.75);
    cursor: pointer;
    width: calc((100%/6 - 20px));
    box-sizing: border-box;
    margin: 10px;

    @media (max-width: 1024px) {
      width: calc(50% - 20px);
    }

    @media (max-width: 575px) {
      width: calc(100% - 20px);
    }
  }

  > input {
    border: 1px solid lightgrey;
    padding: 0 10px;
    outline: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > button {
      border: 1px solid rgb(49, 54, 70);
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 0 20px;
      line-height: 30px;
      width: calc(50% - 10px);
    }

    .resetButton {
      background: white;
      color: rgb(49, 54, 70);
      margin-right: 10px;
    }

    .filterButton {
      background: rgb(49, 54, 70);
      color: white;
    }
  }
}
