.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .form {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .form {
    width: calc(100% - 40px);
  }
}
.form > input {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  min-width: 15%;
  margin-right: 10px;
  line-height: 30px;
}
@media (max-width: 1300px) {
  .form > input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form .buttons > button {
  border: 1px solid #313646;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0 20px;
  line-height: 30px;
}
.form .buttons .resetButton {
  background: white;
  color: #313646;
  margin-right: 10px;
}
.form .buttons .filterButton {
  background: #313646;
  color: white;
}
@media (max-width: 1300px) {
  .form .buttons {
    justify-content: flex-end;
    margin-top: 20px;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=TestForm.module.css.map */
