.select {
  border: 1px solid lightgrey;
  padding: 0 10px;

  .selectedValue {
    &:before {
      content: "";
      position: absolute;
      right: 10px;
      transform: translateY(-50%);
      top: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
    }

    &.active {
      &:before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
        border-top: none;
      }
    }

    .selectedAvatar {
      display: inline-block;
      margin-right: 5px;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .dropdown {
    position: absolute;
    background-color: white;
    border: none;
    box-shadow: 0 2px 6px 2px #ccc;
    top: 35px;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow: auto;
    border-radius: 5px;
    z-index: 1;
  }

  .options {
    margin: 0;
    padding: 0;
    list-style: none;

    .option {
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        background-color: #f7f7f7;
      }

      .avatar {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}