.select {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  min-width: 15%;
  min-height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
  color: rgba(39, 39, 39, 0.75);
  cursor: pointer;
  margin-right: 10px;
}
@media (max-width: 1300px) {
  .select {
    min-width: 45%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .select {
    min-width: calc(100% - 20px);
  }
}
.select .selectedValue:before {
  content: "";
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.select .selectedValue.active:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  border-top: none;
}
.select .selectedValue .selectedAvatar {
  display: inline-block;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.select .dropdown {
  position: absolute;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 6px 2px #ccc;
  top: 35px;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  border-radius: 5px;
}
.select .options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select .options .option {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}
.select .options .option:hover {
  background-color: #f7f7f7;
}
.select .options .option .avatar {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=SelectWithAvatar.module.css.map */
